<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Clinique Medicale T.T.G Network{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Clinique Medicale T.T.G Network</h1>
        <nav>
            <ul>
                <li><a href="{% url 'patient_list' %}">Patients</a></li>
                <li><a href="{% url 'examination_list' %}">Examens</a></li>
                <li><a href="{% url 'product_list' %}">Produits</a></li>
                <li><a href="{% url 'room_list' %}">Salles</a></li>
                <li><a href="{% url 'add_patient' %}">Ajout Patient</a></li>
                <li><a href="{% url 'register_admin' %}">Ajout Admin</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Clinique Medicale T.T.G Network</p>
    </footer>
</body>
</html>
